CONTACT_GOOGLE_SHEET_ID=1w2JhRg0DNtOEx9AA3vZQS7jcSCwcCg7wjkNM_Lf_eXQ
CONTACT_GOOGLE_APPS_SCRIPT_URL=
CONTACT_GOOGLE_SHEET_RANGE=A:H
CONTACT_GOOGLE_SHEET_HEADER_RANGE=A1:H1
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
NEXT_PUBLIC_BACKEND_URL=https://backend-service-v1.ishswami.in
NEXT_PUBLIC_VIDDHAKARMA_URL=https://www.viddhakarma.com
NEXT_PUBLIC_RAZORPAY_KEY_ID=
